<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.TimeMapper">
	<select id="getTime2" resultType="java.lang.String">
		select to_char(sysdate,'YYYY-MM-DD') from dual
	</select>
	
	<select id="getSubjectName" resultType="java.lang.String">
		select s_name from subject where s_num = '01'
	</select>
	
	<select id="getSubjectName2" parameterType="java.lang.String" resultType="java.lang.String">
		select s_name from subject where s_num = #{s_num}
	</select>
	
</mapper>